
// body {
//   margin: 0;
//   overflow-x: hidden;
//   font-family: "Gilroy-Regular; /* Use Outfit font */
 
// }

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.planBox {
  background: gold;
  
}

.displayCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.displayWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.displayWrapCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.displayStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.displayEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.displaySpacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.displaySpacearound {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.displayAlign {
  display: flex;
  align-items: center;
}



.slick-next:before,
.slick-prev:before {
  font-size: 40px;

  opacity: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  margin-top: -17px !important;
}


.slickbottomslider {
  width: 100%;
  position: relative;
}

.slick-initialized .slick-slide.slick-current .active {
  transform: scale(1.15);
  transition: all 0.4s ease-in;
}



.slick-track {
  padding: 40px 0;
}

.slick-prev:before {
  content: "‹";
}

.slick-next:before {
  content: "›";
}

.slick-list {
  padding-left: 0px !important; // half partial
}

.slick-prev {
  left: auto !important;
  top: -22px !important;
  right: 150px !important;
  z-index: 999 !important;
  border: 1px solid #333333 !important;
  background-color: rgba(16, 13, 75, 0.045) !important;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.slick-next {
  top: -22px !important;
  left: auto !important;
  right: 95px !important;
  color: #fff !important;
  border: 1px solid #333333 !important;
  background-color: rgba(16, 13, 75, 0.045) !important;
  z-index: 999 !important;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 40px;
  opacity: 0.75;
  color: #f53756;
  margin-top: -17px;
}

.mainContainer {
  padding: 0px 65px !important;
}
.responsiveManage {
  padding: "200px 150px 600px";
}

.mainContainerHomeLayout {
  margin: 120px 0px !important;
}
.responsiveManage {
  padding: "200px 150px 600px";
}

.albumslickbottomslider {
  .slick-initialized .slick-slide.slick-current {
    .active {
      transform: scale(1.15);
      transition: all 0.4s ease-in;
    }
  }
  .slick-next:before,
  .slick-prev:before {
    font-size: 40px;

    opacity: 1 !important;
    color: #fff;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    margin-top: -14px !important;
  }
  .slick-track {
    padding: 20px 0;
  }
  .slick-prev:before {
    content: "‹";
  }
  .slick-next:before {
    content: "›";
  }
  .slick-prev {
    left: 8% !important;
    top: 50% !important;
    background-color: #fff !important;
    border: 2px solid #323232;
    z-index: 999 !important;
    position: absolute;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none !important;
  }
  .slick-next {
    right: 8% !important;
    top: 50% !important;
    background-color: #fff !important;
    border: 2px solid #323232;
    z-index: 999 !important;
    position: absolute;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none !important;
  }
  .slick-next:before,
  .slick-prev:before {
    font-size: 40px;

    color: #000;
    margin-top: -17px;
  }
}

.viewButton {
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  background: rgba(255, 255, 255, 0.03) !important;
  color: #fff !important;
  margin-left: 50px;
}
.coreplanningBox {
  margin-top: 40px;
  margin-left: 10px;
}

.borderbottomaspect {
  position: absolute;
  max-width: 98px !important;
  left: 51px;
  bottom: 0;
}
.mainContainerHomeLayout {
  margin: "120px 0px";
}

.bottomslickbottomslider .slick-next {
  right: 47% !important;
  top: 158% !important;
  width: 45px;
  height: 45px;
  background: transparent !important;
  border: 2px solid #fff !important;
}

.bottomslickbottomslider .slick-prev {
  left: 47% !important;
  top: 158% !important;
  width: 45px;
  height: 45px;
  background: transparent !important;
  border: 2px solid #fff !important;
}

.mainBox .sliderBox input {
  width: calc(100% - 61px);
}

.PhoneInput {
  display: flex;
  align-items: center;
  background: #fff !important;
  border-radius: 50px;
  border:1px solid rgba(0, 0, 0, 0.40);
  height: 50px;
  font-size: 16px;
  color: #000;
  padding-left: 8px;

}
.PhoneInputInput:focus-visible {
  border: none;
}

.PhoneInputCountry {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-left: 13px;
  padding-right: 10px;
  /* height: 50px; */
}

.PhoneInputInput {
  flex: 1 1;
  min-width: 0;
  border: none !important;
}

.socialButtonres {
  margin-right: 16px;
}
.resend {
  margin-right: -17px !important;
  margin-top: 10px !important;
}
.detailsImg {
  width: auto;
  max-width: 300px;
}

.prupleiconButton {
  background: #7a69fe !important;
}

.MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  backdrop-filter: blur(4px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}
.iconTransparent {
  background-color: transparent !important;
  svg {
    color: #7418c9;
  }
}
.bodyText {
  color: #161e29d6;
}
.dropZoneBox {
  border-radius: 10px;
  padding: 40px;
  border: 1px dashed rgba(0, 0, 0, 0.40);
  overflow: hidden;
  width: 100%;
  position: relative;
}
.labelprogressBox {
  background: rgba(122, 105, 254, 0.08);
  padding: 20px;
  border-radius: 10px;
  .circlemainBox {
    background: rgba(122, 105, 254, 0.08);
    padding: 10px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    img {
      width: auto;
      max-width: 100%;
    }
  }
  .closeIconBox {
    color: rgb(122, 105, 254);
    right: 11px;
    position: absolute;
    top: 10px;
    font-size: 19px !important;
  }
  .greenclose {
    color: rgb(2, 188, 125);
    top: 64% !important;
    font-size: 29px !important;
  }
}

.dopicon {
  position: absolute !important;
  z-index: 9 !important;
  right: 5px !important;
  top: 18% !important;
  font-size: 32px !important;
  color: #161e2a !important;
}


.buttonChat {
  position: fixed;
  bottom: 10px;
  z-index: 99999;
  border-radius: 21px;
  padding: 1px 4px;
  right: 15px;
  cursor: pointer;
  .iconBox {
    background: linear-gradient(159deg, #8c7dff 8.84%, #4027ff 87.99%);
    width: 70px !important;
    height: 70px !important;
    padding: 14px;
    img {
      width: auto;
      max-width: 100% !important;
      object-fit: cover !important;
    }
  }
}
.chatdialogBox {
  .MuiPaper-root-MuiDialog-paper {
    border-radius: 20px;
    background: linear-gradient(90deg, #7a69fe 0%, #3d50ff 100%) !important;
  }
}
.chatcontentBox {
  background: #3b44d4;
  width: 70px !important;
  padding: 14px !important;
  height: 70px !important;
}
.chatcontentmainBox {
  padding: 50px 0 30px;
}
.learnmore {
  background: rgba(255, 255, 255, 0.1) !important;
  width: calc(100% - 78px);
}


.chatborder {
  position: absolute;
  bottom: 21px;
  z-index: 9;
}


.chatIconBox {
  background-color: transparent !important;
  border-top: 2px solid #8080806e;
  padding-top: 15px;
  // background: transparent !important;
}
.gradientTextborder {
  border-radius: 12px;
  background: linear-gradient(90deg, #7a69fe 0%, #3d50ff 100%);
  padding: 2px !important;
  margin-top: -10px;
}
.gradientbackground {
  background: #fff;
  border-radius: 20px 20px 0px 0px;
  padding: 15px;
  margin-top: 42px;
}
.chatopButton {
  width: 40px !important;
  height: 40px !important;
  padding: 10px !important;
  background: #605efead !important;
  position: absolute !important;
  right: 10px;
  top: 13px !important;
}

.chatscrollBox {
  height: calc(100vh - 218px);
  overflow: auto;
  border-radius: 20px;
}

* {
  scrollbar-width: 0px;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-moz-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
.blackBox {
  border-radius: 3px;
  background: #161e29;
  padding: 10px 5px;
}


.pagelaoding {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loginimgbox {
  animation: grow-and-shrink 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.box-hidden {
  display: none;
  visibility: hidden;
}

/* Show the Box */
.box-visible {
  display: block;
  visibility: visible;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  // min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.favouriteBox {
  position: absolute !important;
  width: 45px;
  height: 45px;
  top: 35px !important;
  right: 15px !important;
  transform: translateY(-50%) !important;
  color: inherit;
  background: rgba(255, 255, 255, 0.3) !important;
  border-radius: 50% !important;
}



